
html
{
    height: 100%;
    width: 100%;
    background-image:  url("../content/icons/nanotrasen.svg"), linear-gradient(to bottom, #292929, #202020);
    background-repeat: no-repeat;
    background-size: 30%, auto;
    background-position: 50%;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.button
{
    border-radius: 4px;
    color:white;
    padding: 3px;
    margin: 1px;
}
.button-active
{
    border: 2px solid #161616;
    background-color: #40628a;
}
.button-active:active
{
    border: 2px solid #243c57;
}
.button-inactive
{
    border: 2px solid transparent;
    background: none;
}
.button-inactive:hover
{
    border: 2px solid #243c57;
}
.button-inactive:active
{
    border: 2px solid #243c57;
    background-color: #40628a;
}
.text-orange
{
    margin: 0px;
    color: #e8bf84;
}
.text-orange-heavy
{
    color: #cd6500;
}
.text-grey
{
    color: #999999;
}