
html
{
    height: 100%;
    width: 100%;
    background-image:  url("../content/nanotrasen.svg"), linear-gradient(to bottom, #292929, #202020);
    background-repeat: no-repeat;
    background-size: 30%, auto;
    background-position: 50%;
    background-attachment: fixed;
}
p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 95%;

}
.text-orange
{
    color: #e8bf84;
}
.text-orange-heavy
{
    color: #cd6500;
}
.text-grey
{
    color: #999999;
}