
html
{
    height: 100%;
    width: 100%;
    background-image:  url("../content/icons/nanotrasen.svg"), linear-gradient(to bottom, #292929, #202020);
    background-repeat: no-repeat;
    background-size: 30%, auto;
    background-position: 50%;
    background-attachment: fixed;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.button, .btn
{
    font-size: 0.8rem;
    border-radius: 4px;
    color:white;
    padding: 3px;
    margin: 1px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.button-active, .btn-active
{
    border: 2px solid #161616;
    background-color: #40628a;
}

.button-active:active, .btn-active:active
{
    border: 2px solid #243c57;
}
.button-active:hover, .btn-active:hover
{
    cursor:default;
}
.button-inactive, .btn-inactive
{
    border: 2px solid transparent;
    background: none;
}
.button-inactive:hover, .btn-inactive:hover
{
    border: 2px solid #243c57;
}
.button-inactive:active, .btn-inactive:active
{
    border: 2px solid #243c57;
    background-color: #40628a;
}
.text-orange
{
    margin: 0px;
    color: #e8bf84;
}
.text-orange-heavy
{
    color: #cd6500;
}
.text-grey
{
    color: #999999;
}
.list-table
{
    border: 1px solid #40628a;
    padding: 3px;
}
.list-table td
{
    background-color: rgb(0, 127, 71);
    padding: 5px;
    width: 15%;
}
.center-horizontal
{
    width: 50%;
    margin: auto;
}
.center-text
{
    text-align: center;
}
.hazard
{
    background: repeating-linear-gradient(-45deg, #e9c183 0px 10px, #cfa668 10px 20px);
    color: black;
    padding: 4px;
}

.console-window
{
    border: 1px solid  rgb(0, 127, 71);
    padding: 15px;
    margin: 30px auto;
    background: black;
    font-family: consolas;
    color: rgb(0, 255, 0);
}

.cmd-clipboard
{
    color: rgb(0, 255, 0);
    margin: 5 auto;
    width: 100%;
    height:auto;
    background-color: transparent !important;
    border:transparent;
    resize:none;
}

li
{
    padding: 0.3rem;
}

.ui
{
    overflow: visible;
    position: absolute;

    margin: 1rem;
    border-style: solid;
    border-width: 0.5rem;

    text-align: center;

    background-color: gray;
    border-color: #292929;
}